28
e1 + e0 + e3 + e2 <= w2
w2 + e1 + e0 + e3 + e2 <= w1
w2 + w1 + e1 + e0 + e3 + e2 <= w0
e0 + e3 + e2 <= e1
e3 + e2 <= e0
low <= e3
e3 <= e2
low <= l2
l2 + l1 <= l0
l2 <= l1
low <= var
low <= E21
E21 <= E11
E11 + E21 <= E4
E11 + E4 + E21 + E3 + E2 <= E1
E11 + E4 + E21 <= E3
E11 + E4 + E21 + E3 <= E2
var + w3 + w2 + w1 + w0 <= l0
var + w3 + w2 + w1 + w0 <= l1
w3 + w2 + w1 + w0 + var + e1 + e0 <= E1
w3 + w2 + w1 + w0 + var + e1 + e0 <= E11
w3 + w2 + w1 + w0 + var + e1 + e0 + e2 <= E21
w3 + w2 + w1 + w0 + var + e1 + e0 + e2 <= E2
w3 + w2 + w1 + w0 + var + e1 + e0 + e3 + e2 <= E3
w3 + w2 + w1 + w0 + var + e1 + e0 + e3 + e2 <= E4
var + w3 + w2 + w1 + w0 <= lif
var + w3 + w2 + w1 + w0 <= ll1
var + w3 + w2 + w1 + w0 <= ll0
